<h1> New Fictional Medium </h1>

<%= form_for @medium, url: @medium, method: :post do |f| %>
  <%= f.hidden_field :rank, value: 0 %>
    <%= f.label :name %>
    <%= f.text_field :name %>
    <br>
    <%= f.label :context %>
    <%= f.text_field :context %>
    <br>
    <%= f.label :description %>
    <%= f.text_area :description %>
    <br>
  <%= f.submit "Save" %>
<% end %>
