<h1> New Historical Medium </h1>

<%= bootstrap_form_for(@medium) do |f| %>
    <%= f.hidden_field :rank, value: 0 %>
    <%= f.text_field :name %>
    <%= f.text_field :hometown %>
    <%= f.text_area :description %>
    <br>
  <%= f.submit "Save" %>
<% end %>
