<h3> Edit Current Medium </h3>

<%= bootstrap_form_for @medium, url: @medium do |f| %>
    <%= f.text_field :name %>
    <%= f.text_field :hometown %>
    <%= f.text_area :description %>
    <br>
  <%= f.submit "Save" %>
<% end %>
