<h1> New Current Medium </h1>

<%= form_for @medium, url: @medium do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>
    <br>
    <%= f.label :hometown %>
    <%= f.text_field :hometown %>
    <br>
    <%= f.label :description %>
    <%= f.text_area :description %>
    <br>
  <%= f.submit "Save" %>
<% end %>
