<!DOCTYPE html>
<html>
<head>
  <title>Spooky Medium Ranker</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class= "container">
      <div class="page-header">
        <h1>
          <%= link_to "Medium Ranker", root_path %>
          <small>Who's the spookiest?</small>
        </h1>
      </div>

    <%= yield %>
    <footer>
      <small> This site created by CM Uselton in October of 2014 </small>
    </footer>
  </div> <!-- container -->

</body>
</html>
